---
layout: default
title: Books
---

<table class="books">
  {%- for book in site.data.books -%}
  <tr class="book-item">
    <td class="book-title-cont">
      <span class="book-shade" style="--data-size:{{ book.Pages }}"></span>
      <span class="book-title">
        <span itemprop=name>{{ book.Title }}</span>
        {% if book.Reread and book.Reread != "n" %}<span title="Re-read" class="meta">(RR)</span>{% endif %}
        {% if book.Audiobook and book.Audiobook != "n" %}<span title="Audiobook" class="meta">(AB)</span>{% endif %}
      </span>
    </td>
    <td class="book-author" itemprop=author>{{ book.Author }}</td>
    <td class="book-date" itemprop=dateCreated>{{ book.Read | date: "%b %y" }}</td>
    <td class="book-rating">
      {% for i in (1..book.Rating) %}
        <img class="star" src="/assets/star.svg">
      {% endfor %}
    </td>
  </tr>
  {%- endfor -%}
</table>
