$sans-serif: Carlito, Calibri, sans-serif;
$monospace: Monaco, Consolas, monospace;
$type-size-3: 1.5em;
$type-size-4: 1.25em;
$type-size-5: 1em;
$type-size-6: 0.75em;
$gray: #7a8288;
$background-color: white;
$text-color: black;
$muted-text-color: $gray;
$border-color: #7a8288;
$link-color: #458CD5;
$link-color-hover: mix(black, $link-color, 25%);
$off-white: #F6F6F6;

@mixin sm {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media (min-width: 1300px) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

html {
    background-color: $background-color;
    font-size: 16px;
    @include md {
        font-size: 18px;
    }
    @include lg {
        font-size: 20px;
    }
}

body {
    color: $text-color;
    font-family: $sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    display: grid;
    grid-template-columns: 1fr #{'min(70ch, 100%)'} 1fr;

    @include lg {
        margin: 50px 0;
    }
}

body > * {
    grid-column: 2;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
    max-height: 50vh;
}

.full-bleed img {
    object-fit: cover;
}

nav {
    border-bottom: 1px solid $border-color;
    text-align: center;
    padding: 0.5em 0;
    margin-bottom: 1em;

    @include lg {
        grid-column: 1;
        grid-row: 1/100;
        border-bottom: none;
        text-align: right;
        padding: 0 2em;
    }

    ul {
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    ul > li {
        display: inline;
        padding: 8px;

        @include lg {
            display: block;
            padding: 0;
            margin: 0;
        }
    }

    li * {
        color: $text-color;
        font-size: $type-size-4;
    }


    h1, h2 {
        margin-top: 0;
    }

    a, a:hover, a:visited {
        color: unset;
    }
}

h1, h2, h3 {
    border-bottom: 0;
    margin-bottom: 0;
}

h1 {
    font-size: $type-size-4;
}

h2 {
    font-size: 1.17em;
}

h3 {
    font-size: $type-size-5;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    width: 100%;
    border: 0;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.narrow-img {
    width: 70%;

    @include lg {
        width: 50%;
    }
}

canvas {
    outline: none;
}

u,
ins {
    text-decoration: none;
    border-bottom: 1px solid $text-color;

    a {
        color: inherit;
    }
}

del a {
    color: inherit;
}

blockquote {
    margin: 2em 1em 2em 0;
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
    border-left: 0.25em solid $border-color;

    cite {
        font-style: italic;

        &:before {
            content: "\2014";
            padding-right: 5px;
        }
    }
}

a {
    &:visited {
        color: $link-color;
    }

    &:hover {
        color: $link-color-hover;
        outline: 0;
    }
}

hr {
    display: block;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid $border-color;
}

ul, ol {
    margin-top: -0.5em;
}

ul li,
ol li {
    margin-bottom: 0.5em;
}

li ul,
li ol {
    margin-top: 0.5em;
}

figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em 0;

    @include lg {
        flex-wrap: nowrap;
        width: 125%;
        max-width: 70vw;
    }

    img,
    iframe {
        margin-bottom: 1em;
    }

    img {
        width: 100%;

        @include lg {
            width: 80%;
        }
    }

    > a {
        display: block;
    }
}

figcaption {
    color: $muted-text-color;
    font-style: italic;
    margin: -15px auto 0;

    @include lg {
        width: 20%;
        padding-left: 1.5em;
        margin-top: 0;
    }
}


.big-header {
    text-align: center;
    margin: 0;
    font-size: 40px;
    line-height: 190%;
}

.fancy-shadow {
    text-shadow: 3px 3px 0 #47D1D4, -3px -3px 0 #F98FAF;
}

#fire {
    text-shadow: 0 0 3px #fefcc9, 0px -2px 4px #feec85, -3px -3px 6px #ffae34, 3px -6px 7px #ec760c, -3px -8px 8px #cd4606, 0 -10px 9px #973716, 2px -12px 11px #451b0e;
}

.big-taglines {
    text-align: center;
    margin: 0;
    font-size: 40px;
    line-height: 90%;
}

.archive-item {
    position: relative;
}

.archive-item-date {
    color: $muted-text-color;
    float: right;
    font-size: $type-size-6;
}

.archive-item-title a {
    font-size: $type-size-5;
    color: $text-color;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 110px);

    @include lg {
        font-size: $type-size-3;
        max-width: 700px;
    }
}

.archive-item-excerpt {
    clear: both;
    margin-top: 0;
    display: none !important;

    @include lg {
        display: block !important;
    }
}

.page-title {
    font-size: $type-size-3;
    float: left;
}

.page-date {
    color: $muted-text-color;
    float: right;
}

.vert-center {
    min-height: 30px;
    display: inline-flex;
    align-items: center;
}

header, .header {
    overflow: auto;
}

.page-content {
    clear: both;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;

    p,
    li,
    dl {
        font-size: 1em;
    }

    p {
        margin: 0 0 1.3em;
    }

    a:hover {
        text-decoration: underline;
    }

    dt {
        margin-top: 1em;
        font-family: $sans-serif;
        font-weight: bold;
    }

    dd {
        margin-left: 1em;
        font-family: $sans-serif;
        font-size: $type-size-6;
    }

    .small {
        font-size: $type-size-6;
    }

    blockquote + .small {
        margin-top: -1.5em;
        padding-left: 1.25rem;
    }
}

.books > div {
    position: relative;
    grid-template-columns: 1fr;
    display: grid;
    grid-column-gap: 5px;
    padding-top: 5px;

    @include md {
        grid-template-columns: 1fr .75fr min-content 70px;
    }
}

.book-shade-ex {
    background-image: linear-gradient(to bottom right, rgba(249, 143, 175, 0.2), rgba(249, 143, 175, 0.07));
}

.book-shade {
    left: -10px;
    position: absolute;
    top: 5%;
    height: 90%;
    background-image: linear-gradient(to bottom right, rgba(249, 143, 175, 0.2), rgba(249, 143, 175, 0.07));
    max-width: 100%;
    width: calc(var(--data-size)/1500 * 100%);
    z-index: -10;
}

.books > div div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.books > div div:nth-child(3) {
    @include md {
        display: block;
        padding-right: .25em;
        color: $muted-text-color;
        font-size: 90%;
        padding-top: 1px;
        font-variant-numeric: tabular-nums;
        letter-spacing: -.012em;
    }
}

.books .meta {
    font-size: 50%;
}

.star {
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAA1klEQVQokZ3SMUpDQRDG8d8+QgghSCqxCCleKanEUjyBZ/AURryIJ8gJtEmniI1gLQiChY2lIIgakbFZw/J4Ac0uC8Pu95+Z/XZTCP8dVdtmkoZJ6v4ZyuJT7K0sFY2JA3zirHlWaFTYQI19XCHwjkNsYwudEtrFHHd4xleGAi94wC1OUP1CPRznlqJlfeMa9bJSJns4wlsLdIlxeacqm/GBC7y2eHUT4mmV5TUGOX4sEkyaWTpFvIl7zHCOEaYYJqkbYrFUFjbWGDXeo48dhd0hpHX+3g+KsWiwq4//gAAAAABJRU5ErkJggg==");
}

.bits {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    font-size: 0.8rem;

    @include md {
        grid-template-columns: repeat(3, 1fr);
    }
}

.bits a {
    color: inherit;
}

.bit {
    height: 100%;
    width: 100%;
}

.bit img {
    margin: 0;
    width: 100%;
    height: 70%;
    object-fit: contain;
}

.bit-title {
    font-weight: bold;
}

.photos {
    grid-column: 2 / 4;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 30vh;
    @include lg {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 50px 50px 0;
        grid-auto-rows: calc(0.3*100vw/2);
    }
}

.thumb {
    position: relative;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.thumb .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(100, 100, 100, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.thumb .thumb-image {
    display: block;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

label figure {
    cursor: pointer;
}

.photo-date {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.photo-caption {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.5em;
}

.modal-content .photo-date,
.modal-content .photo-caption {
    width: 80%;
    margin-left: -40%;
    color: $off-white;
    opacity: 1;
    left: 50%;
    text-align: center;

    @include md {
        width: 70%;
        margin-left: -35%;
    }
}

.caption:hover {
    cursor: pointer;
}

.thumb:hover div {
    opacity: 1;
}

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
    z-index: 98;
}

.modal-content {
    width: 100%;
    height: 100%;
}

.modal-arrow {
    position: absolute;
    font-size: 40px;
    top: calc(50vh - 25px);
    z-index: 99;
    @include md {
        font-size: 50px;
    }
}


.modal-arrow:hover {
    cursor: pointer;
    color: #dcedf8;
}

.modal-photo {
    object-fit: scale-down;
    padding: 10px;

    @include lg {
        width: 100%;
        max-height: 80%;
        position: absolute;
        left: 50%;
        top: 10%;
        margin-left: -50%;
    }
}

.modal-state {
    display: none;
}

.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
}

// Syntax
$border-radius: 4px;
$base00: #263238;
$base01: #2e3c43;
$base02: #314549;
$base03: #546e7a;
$base04: #b2ccd6;
$base05: #eeffff;
$base06: #eeffff;
$base07: #ffffff;
$base08: #f07178;
$base09: #f78c6c;
$base0a: #ffcb6b;
$base0b: #c3e88d;
$base0c: #89ddff;
$base0d: #82aaff;
$base0e: #c792ea;
$base0f: #ff5370;

.aside {
    color: #7a8288;
    font-style: italic;
    @include lg {
        grid-column: 3 / 4;
        width: 50%;
        padding-left: 1.5em;
        display: table;
        margin-top: -10px;

        > div {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

div.highlighter-rouge,
figure.highlight {
    position: relative;
    margin-bottom: 1em;
    background: $base00;
    color: $base05;
    font-family: $monospace;
    font-size: $type-size-6;
    line-height: 1.8;
    border-radius: $border-radius;

    > pre,
    pre.highlight {
        margin: 0;
        padding: 1em;
        overflow-x: auto;
    }
}

code.highlighter-rouge {
    background: mix(white, $gray, 50%);
    font-family: $monospace;
    font-size: $type-size-6;
    border-radius: $border-radius;
    padding: 0.1em 0.2em;
}

table {
    border-spacing: 0;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
}

table th {
    font-weight: 600;
    text-align: left;
}

table td, table th {
    padding: 6px 13px;
    margin: 0;
    border: 1px solid #dfe2e5;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.highlight {
    pre {
        margin: 0;
    }

    pre {
        width: 100%;
    }

    .hll {
        background-color: $base06;
    }

    .c, .cm, .cp, .c1, .cs, .sd {
        color: $base04;
    }

    .err, .gd, .no, .ne, .nv, .vc, .vg, .vi {
        color: $base08;
    }

    .k, .kc, .kd, .kp, .kr {
        color: $base0e;
    }

    .l, .m, .mf, .mh, .mi, .mo, .se, .si, .il {
        color: $base09;
    }

    .n, .p, .nb, .ni, .nl, .py, .w, .sc, .bp {
        color: $base05;
    }

    .o, .kn, .nd, .nt, .ow {
        color: $base0c;
    }

    .gi, .ld, .s, .sb, .s2, .sh, .sx, .sr, .s1, .ss {
        color: $base0b;
    }

    .kt, .nc, .nn {
        color: $base0a;
    }

    .na, .nf, .nx {
        color: $base0d;
    }

    .gs {
        font-weight: bold;
    }

    .ge {
        font-style: italic;
    }

    .gh {
        color: $base05;
        font-weight: bold;
    }

    .gp {
        color: $base04;
        font-weight: bold;
    }

    .gu {
        color: $base0c;
        font-weight: bold;
    }
}
