/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  padding-top: 1em;
  margin-left: 0;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;

  @include lg {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
  }

  @include xl {
    width: calc(100% - #{$right-sidebar-width});
  }
}

.archive__item {
  position: relative;
}

#headertitle {
  color: #3a4549;
}

.archive__item-date {
  color: #888;
  font-size: $type-size-6;
}

.archive__item-title a {
  color: #3a4549;
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;

  a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {
  .archive__item-title {
    margin-top: 1.4em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }

  a {
    position: relative;
  }
}