/*
  BASE ELEMENTS
*/
* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    background-color: $background-color;
    font-size: 16px;

    @include md {
        font-size: 18px;
    }

    @include lg {
        font-size: 20px;
    }

    @include xl {
        font-size: 22px;
    }
}

body {
    color: $text-color;
    font-family: $sans-serif;
    line-height: 1.5;
}

h2, h3 {
    border-bottom: 0;
    margin-bottom: 0;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Prevent sub and sup affecting line-height in all browsers */
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

u,
ins {
    text-decoration: none;
    border-bottom: 1px solid $text-color;

    a {
        color: inherit;
    }
}

del a {
    color: inherit;
}

blockquote {
    margin: 2em 1em 2em 0;
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
    border-left: 0.25em solid $primary-color;

    cite {
        font-style: italic;

        &:before {
            content: "\2014";
            padding-right: 5px;
        }
    }
}

a {
    &:visited {
        color: $link-color-visited;
    }

    &:hover {
        color: $link-color-hover;
        outline: 0;
    }
}

tt,
code,
kbd,
samp,
pre {
    font-family: $monospace;
}

pre {
    overflow-x: auto;

    /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 0.8em;
    background: $code-background-color;
    border-radius: $border-radius;

    &:before,
    &:after {
        letter-spacing: -0.2em;
        content: "\00a0";

        /* non-breaking space*/
    }
}

hr {
    display: block;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid $border-color;
}

ul li,
ol li {
    margin-bottom: 0.5em;
}

li ul,
li ol {
    margin-top: 0.5em;
}

figure {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2em 0;

    img,
    iframe {
        margin-bottom: 1em;
    }

    img {
        width: 100%;
        border-radius: $border-radius;
        -webkit-transition: $global-transition;
        transition: $global-transition;
    }

    > a {
        display: block;
    }
}

figcaption {
    margin-bottom: 0.5em;
    color: $muted-text-color;
    font-family: $serif;
    font-size: $type-size-6;

    a {
        -webkit-transition: $global-transition;
        transition: $global-transition;

        &:hover {
            color: $link-color-hover;
        }
    }
}
