@media screen and (max-width:640px) {
    .books>div {
        grid-template-columns: 1fr .75fr 70px
    }
    .books>div div:nth-child(3) {
        display: none
    }
}

.books>div {
    display: grid;
    grid-column-gap: 5px;
    padding-top: 5px;
    grid-template-columns: 1fr .75fr min-content 70px
}

.books>div div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.books>div div:nth-child(3) {
    padding-right: .25em;
    color: #888;
    font-size: 90%;
    padding-top: 1px;
    font-variant-numeric: tabular-nums;
    letter-spacing: -.012em
}

.star {
    width: 13px;
    height: 12px;
    display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuMzA5IDkuMjJMMi40MDkgMTJsMS40NC00LjU2N0wwIDQuNTgzbDQuNzg4LS4wNDJMNi4zMDggMCA3LjgzIDQuNTRsNC43ODkuMDQ0LTMuODUgMi44NDlMMTAuMjA5IDEyeiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+)
}