/* ==========================================================================
  OVERAL STYLING
========================================================================== */

.main {
  clear: both;
  &::after {
    clear: both;
    content: "";
    display: table;
  }

  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.4em;

  @include lg {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
    margin-left: calc(0.2 * #{$sidebar-width});
  }

  @include xl {
    margin-left: calc(50% - #{$body-width}/2 - #{$sidebar-width});
  }
}

.body {
  float: left;
  margin-top: 1em;
  width: 100%;

  @include lg {
    margin-top: 0;
    width: calc(100% - #{$sidebar-width});
    max-width: $body-width;
  }
}

/* ==========================================================================
  ARCHIVE
========================================================================== */

.archive-item {
  position: relative;
}

.archive-item-date {
  color: #888;
  font-size: $type-size-6;
}

.archive-item-title a {
  color: #3a4549;
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;

  a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  a + a {
    opacity: 0.5;
  }
}

.archive-item-excerp {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }

  a {
    position: relative;
  }
}

/* ==========================================================================
  SINGLE PAGE/POST
========================================================================== */

.page-title {
  margin-top: 0.3em;
  line-height: 1;
  font-size: $type-size-2;
}

.page-date {
  color: #888;
}

.taglist a {
	background-color:#ccc;
	color:#fff;
	display: inline-block;   
  line-height: 1.5em;
  margin-left: 2em;
  padding: 0.3em 0.6em 0.3em 0.6em;
  
	vertical-align:20%;  
	font-size:0.5em;
	font-family: "Open Sans", sans-serif;
	font-weight: 700 !important;
	text-transform:uppercase;
	letter-spacing:0.05em;
	border-radius:0.25em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
}

.page-content {
  position: relative;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid $border-color;
  }

  p,
  li,
  dl {
    font-size: 1em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }

  a:not(.btn) {
    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }

  dt {
    margin-top: 1em;
    font-family: $sans-serif;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }
}

/* ==========================================================================
  BOOKS
========================================================================== */

.books>div {
  grid-template-columns: 1fr .75fr 70px;
  display: grid;
  grid-column-gap: 5px;
  padding-top: 5px;
  @include md {
    grid-template-columns: 1fr .75fr min-content 70px;
  }
}

.books>div div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.books>div div:nth-child(3) {
  display: none;
  @include md {
    display: block;
    padding-right: .25em;
    color: #888;
    font-size: 90%;
    padding-top: 1px;
    font-variant-numeric: tabular-nums;
    letter-spacing: -.012em;
  }
}

.star {
  width: 13px;
  height: 12px;
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuMzA5IDkuMjJMMi40MDkgMTJsMS40NC00LjU2N0wwIDQuNTgzbDQuNzg4LS4wNDJMNi4zMDggMCA3LjgzIDQuNTRsNC43ODkuMDQ0LTMuODUgMi44NDlMMTAuMjA5IDEyeiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
}

/* ==========================================================================
  PHOTOS
========================================================================== */

.photos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	grid-auto-rows: 30vh;
}

.thumb {
    position: relative;
    width:100%;
    overflow:hidden;
    position:relative;
    background:#000
}

.thumb .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(100,100,100,0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
}

.thumb .thumb-image {
    display: block;
    object-fit: cover;
    position:absolute;
    width:100%;
    height:100%;
}

.photo-date {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.photo-caption {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
}

.modal-content .photo-date,
.modal-content .photo-caption {
    width: 80%;
    margin-left: -40%;
    color: #fff;
    opacity: 1;
    left: 50%;
    text-align: center;
    @include md {
        width: 600px;
	margin-left: -300px;
    }
}

.thumb:hover div {
    opacity: 1;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .8);
  transition: opacity .25s ease;
  z-index: 99;
}

.modal-content {
	width: 100%;
	height: 100%;
}

.modal-photo {
   width: 70%;
   max-height: 80%;
   position: absolute;
   left: 50%;
   top: 10%; 
   margin-left: -35%;
   object-fit: cover;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

/* ==========================================================================
  SIDEBAR
========================================================================== */

.sidebar {
  padding-bottom: 1em;
  border-bottom: 1px $gray solid;
  
  @include lg {
    border-bottom: 0;
    float: left;
    width: calc(#{$sidebar-width} - 1em);
  }

  h4, h5 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: $sans-serif-narrow;
  }
}

.author-avatar {
  display: block;
  width: 10em;
  margin: auto;
  max-width: 9em;
}

.author-content {
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-right: 25px;
  line-height: 0;
  
  h4 {
    font-size: $type-size-3;
  }

  h5 {
    text-align: inherit;
    color: #737c7f;
    font-size: $type-size-4;
    margin-top:-15px;
  
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
  
  @include lg {
    text-align: unset;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.icon {
  font-size: 1.4em;
  color: #737c7f;

  &:hover {
    color: black;
  }
}

.sticky {
  @include lg {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    height: calc(100%);
  }
}

/* ==========================================================================
  FONT AWESOME
========================================================================== */

@font-face {
  font-family: 'fa';
  src: url('/assets/font/fa.eot?93019596');
  src: url('/assets/font/fa.eot?93019596#iefix') format('embedded-opentype'),
        url('/assets/font/fa.woff2?93019596') format('woff2'),
        url('/assets/font/fa.woff?93019596') format('woff'),
        url('/assets/font/fa.ttf?93019596') format('truetype'),
        url('/assets/font/fa.svg?93019596#fa') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fa";
    font-style: normal;
    font-weight: normal;
    speak: none;
    
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
  
    font-variant: normal;
    text-transform: none;
  
    line-height: 0.5em;
    margin-left: .2em;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
    
  .icon-mail:before { content: '\e800'; }
  .icon-github-circled:before { content: '\f09b'; }
  .icon-li:before { content: '\f0e1'; }
