/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

#main {
  clear: both;
  &::after {
    clear: both;
    content: "";
    display: table;
  }

  padding-top: 1em;
  margin-left: 0;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  max-width: 100%;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;

  @include lg {
    padding-left: 1em;
  }

  @include xl {
    max-width: $x-large;
  }
}

.page {
  @include lg {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
  }

  @include xl {
    width: calc(100% - #{$right-sidebar-width});
  }

  .page__inner-wrap {
    float: left;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;

    .page__content,
    .page__meta,
    .page__share {
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;
    }
  }
}

.page__title {
  margin-top: 1em;
  line-height: 1;
  font-size: $type-size-2;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__content {
  h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid $border-color;
  }

  p,
  li,
  dl {
    font-size: 1em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }

  a:not(.btn) {
    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }

  dt {
    margin-top: 1em;
    font-family: $sans-serif;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }
}

.page__date {
  color: #888;
}

.page__taxonomy {
  .sep {
    display: none;
  }

  strong {
    margin-right: 10px;
  }
}

.taglist a {
	background-color:#ccc;
	color:#fff;
	display: inline-block;   
  line-height: 1.5em;
  margin-left: 2em;
  padding: 0.3em 0.6em 0.3em 0.6em;
  
	vertical-align:20%;  
	font-size:0.5em;
	font-family: "Open Sans", sans-serif;
	font-weight: 700 !important;
	text-transform:uppercase;
	letter-spacing:0.05em;
	border-radius:0.25em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
}