/* ==========================================================================
   SIDEBAR
   ========================================================================== */

.sidebar {
  padding-right: 0.5em;
  border-bottom: 1px #eee solid;
  
  @include lg {
    /* fix z-index order of follow links */
    position: relative;
    z-index: 10;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  @include lg {
    border-bottom: 0;
    border-right: 1px #eee solid;
    float: left;
    width: calc(#{$right-sidebar-width-narrow} - 1em);
    opacity: 0.9;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &.sticky {
      overflow-y: hidden;
      height: calc(100vh - #{$nav-height});
    }
  }

  @include xl {
    width: calc(#{$right-sidebar-width} - 1em);
  }

  > * {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: $sans-serif-narrow;
  }

  p,
  li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
    
    &.emoji {
      width: 20px;
      height: 20px;
    }
  }
}

.author__avatar {
  display: block;
  width: 10em;
  margin: auto;

  img {
    max-width: 9em;
  }
}

.author__content {
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-right: 25px;
  line-height: 1;

  @include lg {
    display: block;
    text-align: unset;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.author__name {
  margin: 0;

  @include lg {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.sidebar .author__name {
  font-family: $sans-serif;
  font-size: $type-size-3;
}

.navigation a {
  text-align: center;
  color: #3a4549;
  font-size: $type-size-3;
  @include lg {
    text-align: unset;
  }
}

#author__bio {
  margin: 0;
  font-size: $type-size-5;

  @include lg {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.sticky {
  @include lg {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;

    > * {
      display: block;
    }
  }
}