$base00: #263238;
$base01: #2e3c43;
$base02: #314549;
$base03: #546e7a;
$base04: #b2ccd6;
$base05: #eeffff;
$base06: #eeffff;
$base07: #ffffff;
$base08: #f07178;
$base09: #f78c6c;
$base0a: #ffcb6b;
$base0b: #c3e88d;
$base0c: #89ddff;
$base0d: #82aaff;
$base0e: #c792ea;
$base0f: #ff5370;

div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1em;
  background: $base00;
  color: $base05;
  font-family: $monospace;
  font-size: $type-size-6;
  line-height: 1.8;
  border-radius: $border-radius;

  > pre,
  pre.highlight {
    margin: 0;
    padding: 1em;
  }
}

.highlight {
  table {
    margin-bottom: 0;
    font-size: 1em;
    border: 0;
    td {
      padding: 0;
      width: calc(100% - 1em);
      border: 0;
      &.code,
      &.rouge-code {
        padding-left: 1em;
      }
    }
  }
  pre {
    margin: 0;
  }
  pre { width: 100%; }
  .hll { background-color: $base06; }
  .c, .cm, .cp, .c1, .cs, .sd { color: $base04; }
  .err, .gd, .no, .ne, .nv, .vc, .vg, .vi { color: $base08; }
  .k, .kc, .kd, .kp, .kr { color: $base0e; }
  .l, .m, .mf, .mh, .mi, .mo, .se, .si, .il { color: $base09; }
  .n, .p, .nb, .ni, .nl, .py, .w, .sc, .bp { color: $base05; }
  .o, .kn, .nd, .nt, .ow { color: $base0c; }
  .gi, .ld, .s, .sb, .s2, .sh, .sx, .sr, .s1, .ss { color: $base0b; }
  .kt, .nc, .nn { color: $base0a; }
  .na, .nf, .nx { color: $base0d; }
  .gs { font-weight: bold; }
  .ge { font-style: italic; }
  .gh {
    color: $base05;
    font-weight: bold;
  }
  .gp {
    color: $base04;
    font-weight: bold;
  }
  .gu {
    color: $base0c;
    font-weight: bold;
  }
}
