$body-width: 900px;
$sidebar-width: 330px;
$border-radius: 4px;

$sans-serif: Carlito, Calibri, sans-serif;
$monospace: Monaco, Consolas, monospace;

$type-size-3: 1.563em;
$type-size-4: 1.25em;
$type-size-5: 1em;
$type-size-6: 0.75em;

$gray: #7a8288;
$background-color: #F6F6F6;
$text-color: mix(black, $gray, 40%);
$muted-text-color: $gray;
$border-color: #7a8288;
$link-color: #458CD5;
$link-color-hover: mix(black, $link-color, 25%);
$off-white: #F6F6F6;

@mixin sm {
    @media (min-width: #{600px}) {
        @content;
    }
}
@mixin md {
    @media (min-width: #{768px}) {
        @content;
    }
}
@mixin lg {
    @media (min-width: #{1024px}) {
        @content;
    }
}
@mixin xl {
    @media (min-width: #{1500px}) {
        @content;
    }
}
