@font-face {
  font-family: 'fa';
  src: url('../font/fa.eot?93019596');
  src: url('../font/fa.eot?93019596#iefix') format('embedded-opentype'),
       url('../font/fa.woff2?93019596') format('woff2'),
       url('../font/fa.woff?93019596') format('woff'),
       url('../font/fa.ttf?93019596') format('truetype'),
       url('../font/fa.svg?93019596#fa') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fa";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;
  margin-left: .2em;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
 
.icon-mail:before { content: '\e800'; }
.icon-github-circled:before { content: '\f09b'; }
.icon-linkedin:before { content: '\f0e1'; }