:root {
    --small-text: 0.75em;
    --muted: #7a8288;
    --link-color: black;
}

* {
    box-sizing: border-box;
}

html {
    background-color: white;
    font-size: 16px;
}

body {
    color: black;
    font-family: avenir, helvetica, ubuntu, roboto, noto, arial, sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    display: grid;
    grid-template-columns: 1fr min(70ch, 100%) 1fr;
    margin: 0 1rem;
    overflow-y: scroll;
}

body > * {
    grid-column: 2;
}

h1, h2, h3 {
    border-bottom: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1.17em;
    position: relative;
}

h3 {
    font-size: 1em;
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

a:visited {
    color: var(--link-color);
    text-decoration: underline;
}

a:hover {
    background-image: linear-gradient(to bottom right, rgba(249, 143, 175, 0.2), rgba(249, 143, 175, 0.07));
    outline: 0;
    text-decoration: underline;
}

p {
    margin: 0 0 .5rem;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
    max-height: 50vh;
}

.full-bleed img {
    object-fit: cover;
}

nav {
    border-bottom: 1px solid var(--muted);
    text-align: center;
    padding: 0.5em 0;
    margin-bottom: 1em;
}

nav ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul > li {
    display: inline;
    padding: 8px;
}

nav li * {
    font-size: 1.25em;
}


nav h1 {
    margin-top: 0;
}

nav a {
    color: unset !important;
    text-decoration: none !important;
}


sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    width: 100%;
    border: 0;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.narrow-img {
    width: 70%;
}

canvas {
    outline: none;
}

u,
ins {
    text-decoration: none;
    border-bottom: 1px solid black;

    a {
        color: inherit;
    }
}

del a {
    color: inherit;
}

blockquote {
    margin: .5em 1em .5em;
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
    border-left: 0.25em solid var(--muted);
}

hr {
    display: block;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid var(--muted);
}

ul, ol {
    margin-top: -0.5em;
}

ul li,
ol li {
    margin: 0.5em auto;
}

li ul,
li ol {
    margin-top: 0.5em;
}

figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em 0;
}

figure img {
    margin-bottom: 1em;
    width: 100%;
}

figure > a {
    display: block;
}

figcaption {
    color: var(--muted);
    font-style: italic;
    margin: -15px auto 0;
}

a.anchor {
    color: black;
    text-decoration: none !important;
}

.big-header {
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 190%;
}

.fire {
    animation-name: fire;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes fire {
    0%   {text-shadow: 0 0 3px #fefcc9, 0px -2px 4px #feec85, -3px -3px 6px #ffae34, 3px -6px 7px #ec760c, -3px -8px 8px #cd4606, 0 -10px 9px #973716, 2px -12px 11px #451b0e;}
    50%  {text-shadow: 0 0 2px #fefcc9, 0px -1px 2px #feec85, -2px -2px 4px #ffae34, 2px -4px 4px #ec760c, -2px -5px 5px #cd4606, 0 -7px 7px #973716, 1px -9px 9px #451b0e;}
    100% {text-shadow: 0 0 3px #fefcc9, 0px -2px 4px #feec85, -3px -3px 6px #ffae34, 3px -6px 7px #ec760c, -3px -8px 8px #cd4606, 0 -10px 9px #973716, 2px -12px 11px #451b0e;}
}

.big-taglines {
    text-align: center;
    margin: 0;
    font-size: 40px;
    line-height: 90%;
}

.archive-item {
  padding: 5px 0;
  color: initial;
}

.archive-item:hover {
  background-image: linear-gradient(to bottom right, rgba(249, 143, 175, 0.2), rgba(249, 143, 175, 0.07));
}

.archive-item-date {
    color: initial;
    float: right;
    font-size: var(--small-text);
}

.archive-item-title {
    float: left;
    color: initial;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 110px);
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
    float: left;
}

.page-date {
    color: var(--muted);
    float: right;
}

.vert-center {
    min-height: 30px;
    display: inline-flex;
    align-items: center;
}

header, .header {
    overflow: auto;
}

table.books, .books tr, .books td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    background-color: inherit !important;
}

table.books {
    font-size: 0.75rem;
    overflow-x: clip;
}

tr.book-item {
  width: 100%;
}

table.books td {
    padding: 3px 0 3px 6px;
}

td.book-title-cont {
  position: relative;
  vertical-align: middle;
}

.book-title {
  display: inline-block;
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.book-author {
  display: inline-block;
  margin: 1px 0;
  line-height: 1rem;
  vertical-align: middle;
  max-width: 12ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--muted);
}

td.book-date {
  max-width: 10ch;
  width: 10ch;
  padding-right: 1rem !important;
  color: var(--muted);
  font-variant-numeric: tabular-nums;
}

td.book-rating {
  max-width: 10ch;
  width: 10ch;
}

.book-shade {
  left: -10px;
  position: absolute;
  top: -2px;
  height: 90%;
  background-image: linear-gradient(to bottom right, rgba(249, 143, 175, 0.2), rgba(249, 143, 175, 0.07));
  max-width: 400%;
  width: calc(var(--data-size)/1500 * 400%);
  z-index: -10;
}

.meta {
    font-size: 0.6rem;
}

.star {
    width: .7em;
    height: .7em;
    margin: 0 -1px;
    display: inline-block;
}

.photos {
    grid-column: 2 / 4;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 30vh;
}

.thumb {
    position: relative;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.thumb .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(100, 100, 100, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.thumb .thumb-image {
    display: block;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

label figure {
    cursor: pointer;
}

.photo-date {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.photo-caption {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.5em;
}

.modal-content .photo-date,
.modal-content .photo-caption {
    width: 80%;
    margin-left: -40%;
    color: #F6F6F6;
    opacity: 1;
    left: 50%;
    text-align: center;
}

.caption:hover {
    cursor: pointer;
}

.thumb:hover div {
    opacity: 1;
}

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
    z-index: 98;
}

.modal-content {
    width: 100%;
    height: 100%;
}

.modal-arrow {
    position: absolute;
    font-size: 40px;
    top: calc(50vh - 25px);
    z-index: 99;
}


.modal-arrow:hover {
    cursor: pointer;
    color: #dcedf8;
}

.modal-photo {
    object-fit: scale-down;
    padding: 10px;
}

.modal-state {
    display: none;
}

.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
}

.aside {
    color: #7a8288;
    font-style: italic;
}

.highlighter-rouge {
    font-family: Monaco, Consolas, monospace;
}

div.highlighter-rouge {
    position: relative;
    margin-bottom: 1em;
    background: #f9fafc;
    font-size: var(--small-text);
    line-height: 1.8;
}

pre.highlight {
    margin: 0;
    padding: 1em;
    overflow-x: auto;
}

code.highlighter-rouge {
    background: #fdf6e3;
    font-size: var(--small-text);
    padding: 0.1em 0.2em;
}

table {
    border-spacing: 0;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
}

table th {
    font-weight: 600;
    text-align: left;
}

table td, table th {
    padding: 6px 13px;
    margin: 0;
    border: 1px solid #dfe2e5;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.highlight {
    background: #fdf9ef;
}
.c, .cm, .cp, .c1  { color: #758587; }
.o, .kn, .nd, .nt, .ow  { color: #1d706a; }
.nv, .no, .ne { color: #dc322f; }
.nl, .nb, .n, .p, .py, .bp { color: #002b36; }
.kc, .kd, .k { color: #6c71c4; }
.s2, .sr, .s1, .s { color: #6a7a00; }
.mf, .mi, .se, .si, .l { color: #cb4b16; }
.nc, .nn { color: #b58900; }
.na, .nf, .nx { color: #1e6fa8; }
.MathJax_Display .mi { color: black !important; }

@media screen and (min-width: 768px) {
    a.anchor {
        position: absolute;
        margin-left: -2ch;
    }

    .bits {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 4rem;
    }

    .modal-content .photo-date,
    .modal-content .photo-caption {
        width: 70%;
        margin-left: -35%;
    }
    .modal-arrow {
        font-size: 50px;
    }

    table.books {
      font-size: 1rem;
    }

    .book-title {
      max-width: 30ch;
    }

    td.book-author {
      max-width: 18ch;
    }

    td.book-date {
      max-width: 12ch;
      width: 12ch;
      padding-right: 1rem !important;
    }

    td.book-rating {
      max-width: 10ch;
      width: 10ch;
    }

    .star {
      width: 13px;
      height: 13px;
    }
}

@media screen and (min-width: 1300px) {
    body {
        margin: 50px 0;
    }

    nav {
        grid-column: 1;
        grid-row: 1/100;
        border-bottom: none;
        text-align: right;
        padding: 0 2em;
        margin-right: 1rem;
    }

    nav ul > li {
        display: block;
        padding: 0;
        margin: 0;
    }

    .narrow-img {
        width: 50%;
    }

    figure {
        flex-wrap: nowrap;
        width: 125%;
        max-width: 70vw;
    }

    figure img {
        width: 80%;
    }

    figcaption {
        width: 20%;
        padding-left: 1.5em;
        margin-top: 0;
    }

    .archive-item-title a {
        max-width: 700px;
    }

    .photos {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 50px 50px 0;
        grid-auto-rows: calc(0.3*100vw/2);
    }

    .modal-photo {
        width: 100%;
        max-height: 80%;
        position: absolute;
        left: 50%;
        top: 10%;
        margin-left: -50%;
    }

    .aside {
        grid-column: 3 / 4;
        width: 50%;
        padding-left: 1.5em;
        display: table;
        margin-top: -10px;
    }

    .aside > div {
        display: table-cell;
        vertical-align: middle;
    }
}
