---
layout: compress
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    <meta charset="utf-8">

    {%- assign seo_url = site.url | append: site.baseurl -%}

    {% assign title_separator = site.title_separator | default: '-' | replace: '|', '&#124;' %}

    {%- if page.title -%}
      {%- assign seo_title = page.title | append: " " | append: title_separator | append: " " | append: site.title -%}
    {%- endif -%}
    {%- if seo_title -%}
      {%- assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once -%}
    {%- endif -%}

    {%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url %}

    {%- assign seo_description = page.description | default: page.excerpt | default: site.description -%}
    {%- if seo_description -%}
      {%- assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once -%}
    {%- endif -%}

    {%- if page.date -%}
      {%- assign og_type = "article" -%}
    {%- else -%}
      {%- assign og_type = "website" -%}
    {%- endif -%}

    <title>{{ seo_title | default: site.title }}{% if paginator %}{% unless paginator.page == 1 %} {{ title_separator }} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}{% endif %}</title>
    <meta name="description" content="{{ seo_description }}">

    <meta property="og:type" content="{{ og_type }}">
    <meta property="og:locale" content="{{ site.locale | replace: "-", "_" | default: "en_US" }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
    <meta property="og:url" content="{{ canonical_url }}">

    {% if page.excerpt %}
      <meta property="og:description" content="{{ seo_description }}">
    {% endif %}

    {% if page.date %}
      <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">

    {% if paginator.previous_page %}
      <link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}">
    {% endif %}
    {% if paginator.next_page %}
      <link rel="next" href="{{ paginator.next_page_path | absolute_url }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    <div class="initial-content">
      {{ content }}
    </div>

  </body>
</html>
